.captchanovalidate:valid {
	border-color: var(--bs-border-color) !important;
    background-image: url() !important;
}
.captchanovalidate:invalid {
	border-color: var(--bs-border-color) !important;
    background-image: url() !important;
}
